<header class="header">
    <div class="wrapper">
        <p class="header-title">
            <span id="firstName">Edgar</span>
            <span id="lastName">Wight</span>
        </p>

        <nav>
            <ul class="header-links-container">
                <li class="header-links">
                    <a class="nav-link" href="/">Films</a>
                </li>
                <li class="header-links">
                    <a class="nav-link" href="/television">Television</a>
                </li>
                <li class="header-links">
                    <a class="nav-link" href="/biography">Biography</a>
                </li>
            </ul>
        </nav>
    </div>
</header>