<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edgar Wrigth Tribute Page</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <header>
        <h1>Edgar Wright Tribute Page</h1>
    </header>

    <div class="carousel">
        <div class="carouselbox">
            
        </div>

        <a class="switchLeft sliderButton" onclick="sliderScrollLeft()"> < </a>
        <a class="switchRight sliderButton" onclick="sliderScrollRight()" > > </a>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="/scripts/script.js"></script>
</body>
</html>