<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %> 
</head>
<body>
    
    <%- include('./partials/header') %> 
    
    <main class="content">
        <h1>Series</h1>
        <h2 >Created</h2>
        <div class="entries-container">
            <% for(let serie of series) { %>
                <div class="entries">
                    <a href="/series/<%=serie.id%>">
                        <img src="<%=serie.poster%>" alt="">
                    </a>
                </div>
            <% } %>  
        </div>
        </div>
    </main>

    <!-- <script src="/scripts/infoScripts.js"></script> -->
</body>
</html>