<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edgar Wright tribute page</title>
    <link rel="stylesheet" href="/styles/tributepagestyle.css">
</head>
<body>
    <div class="main">
        <h1 class="title">Edgar Wright</h1>

        <div class="img-cropper">
            <img class="director" src="/images/wall-e.jpg" alt="">
        </div>
        <div class="btn-container">
            <a href="/films" class="btn">Films</a>
            <a href="/television" class="btn">Television</a>
            <a href="/biography" class="btn">Biography</a>
        </div>
    </div>
</body>
</html>