.container {
    /* background-color: aqua; */
    height: auto; 
    width: 50vw;
    margin: auto;
    margin-top: 30px;
}

.img-cropper {
    width: 350px;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.director {
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    height: 100%;
    width: auto;
}

p{
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    text-align: justify;
    text-justify: inter-word;
    line-height: 2em;
    margin-bottom: 20px;
}